{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-form-container">
    <h2>Login</h2>
    {% if form.errors %}
    <div class="messages">
        <ul class="errorlist">
            <li>Check your username and password.</li>
        </ul>
    </div>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
        <p class="button-container">
            <input type="submit" value="Login" class="button" />
            <a href="{% url 'register' %}" class="button">Create one</a>
        </p>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
</div>
{% endblock %}
