{% extends "tickets/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <p>Logged in as {{ request.user.username }}</p>
    <div class="button-container">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <form action="{% url 'password_change' %}" method="post">
            {% csrf_token %}
            <button type="submit">Change password</button>
        </form>
        <form action="{% url 'tickets:ticket_list' %}" method="post">
            {% csrf_token %}
            <button type="submit">View Ticket List</button>
        </form>
    </div>
    <h2>Dashboard</h2>

    <div class="container">
        <form action="{% url 'tickets:create_ticket' %}" method="post">
            {% csrf_token %}
            <label for="issue_type">Issue Type:</label><br>
            <input type="text" id="issue_type" name="issue_type"><br><br>
            
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>
            
            <label for="priority">Priority:</label><br>
            <input type="text" id="priority" name="priority"><br><br>
            
            <label for="assigned_to">Assigned To:</label><br>
            <input type="text" id="assigned_to" name="assigned_to"><br><br>
            
            <button type="submit">Create Ticket</button>
        </form>
    </div>

{% endblock %}
