<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket List</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <style>
        /* Adjust table width for better appearance */
        table {
            width: 100%;
        }
    </style>
</head>
<body style="background-color: #c0c0c0;">
    <div class="Window">
        <div class="title-bar">
            <div class="title-bar-text">Ticket List</div>
          </div>
          <br>
        <div class="sunken-panel" style="height: 120px; width: auto;">
            <table class="interactive">
                <thead>
                    <tr >
                        <th>Ticket ID</th>
                        <th>Issue Type</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Assigned To</th>
                        <th>Created By</th>
                        <th>Created Datetime</th>
                        <th>Closed Datetime</th>
                        <th>Modified Datetime</th>
                        <th>Ticket Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                <tr onclick="window.location='{% url 'tickets:ticket_detail' ticket.ticket_id %}'" style="cursor: pointer;">
                {% for attribute in ticket %}
                    <td>{{ attribute }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
